
body {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 60px 0;
    background-color: rgba(240, 248, 255, 0.8);
    padding: 10px;
    box-shadow: 1px 1px 7px 9px rgba(0, 0, 0, 0.3   );
}


.judul {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.sub-judul {
    color: green;
    border-bottom: 1px solid;
    padding: 0 30px;    
}   

.isi {
    padding: 0 30px;
}

.paragraf {
    border-bottom: 1px solid;
}

.footer {
    color: white;
    background-color: black;
    text-align: center;
    margin: 0;
    /* right: 0;
    left: 0; lupa reset margin padding bang :) */ 
    padding: 1.3rem;
}

